.skillsList {
    list-style-type: none;
}

.skillItem {
    background-color: navajowhite;
    color: gray;
    border-radius: 20px;
    padding: 2px 12px;
    margin: 1px;
}

.skillBeginner {
    background-color: navajowhite;
}

.skillIntermediate {
    background-color: #ffc06e;
}

.skillAdvanced {
    background-color: #ffae31;
}
