.cvIntro {
    text-align: left;
    width: 96vw;
    padding: 5px 2vw;
    background-color: #282c34;
}

.cvName {
    font-weight: bold;
    font-size: calc(25px + 1vmin);
}

.cvCurrentPosition {
    font-size: calc(15px + 1vmin);
    font-style: italic;
    color: #56595a;
}
